{{!-- <h1>Sign in</h1>
<form action="/login" method="post">
    <section>
        <label for="username">Email</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign in</button>
</form> --}}
<form class="box" action="/login" method="POST">
    <body>
      <!-- <form class="box" action="login.html" method="POST"> -->
        <div class="box">
          <h1>ĐĂNG NHẬP</h1>
          <input type="text" name="username" placeholder="Enter Username" class="username" required>
          <input type="password" name="password" placeholder="Enter Password" class="password" required>
          <button type="submit" class="button-login">Login</button>
        </div>
          <!-- </form> -->
  </body>
</form>
  

