<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/icons/fontawesome-free-6.1.1-web/css/all.min.css">
  <title>Trang quản trị</title>
</head>

<body>
  <div class="main">
    <div class="row-cols-1 mb header">
      <img class="img-avatar" src="/img/avatar.jpg" alt="">
      <h1>Chào mừng quản trị viên!</h1>
    </div>

    <div class="row-cols-1 menu">
      <ul>

        <li><i class="fa-solid fa-list-check"></i><a href="/admin">Danh sách</a></li>
        <li><i class="fa-solid fa-plus"></i><a href="/admin/baiviet">Thêm bài viết</a></li>
        <li><i class="fa-solid fa-plus"></i><a href="/admin/cmt">Bình luận</a></li>
        <li><i class="fa-solid fa-plus"></i><a href="/">Trang chủ</a></li>


      </ul>
    </div>
    {{{ body }}}


</html>