<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Enthusiast</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap-grid.min.css" integrity="sha512-EAgFb1TGFSRh1CCsDotrqJMqB2D+FLCOXAJTE16Ajphi73gQmfJS/LNl6AsjDqDht6Ls7Qr1KWsrJxyttEkxIA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/reponsive.css">
        {{!-- <link rel="stylesheet" href="./assets/icons/fontawesome-free-6.1.1-web/css/all.min.css"> --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="header-inner">
                <a href="/" class="header-logo-link">
                    <image src="/img/cropped-bookaholic-1.png" alt="" class="logo"></image>
                </a>
            </div>

            <div class="text-content">
                <h2 class="text-heading" ><a href="/" >Book Enthusiast</a></h2>
                <p class="text-decription">Sách mở ra trước mắt tôi những chân trời mới</p>
            </div>

            <div class="search-header">
                <form action="index.html" class="search-form">
                    <label for="">
                        <input type="search" class="search-field" placeholder="Search...">
                    </label>
                </form>
            </div> 
            </div>

            <!-- Navigation -->
    <div class="nav">
        <nav id="navigation">
            <div class="menu-navigation">
                <button class="nav-menu">
                    <i class="fa-solid fa-bars"></i>
                    MENU
                </button>
                <!-- button Search -->
                <a class="search-button" href="#">
                    <i class="search-icon fa-solid fa-magnifying-glass"></i>
                </a>
                <div class="menu-items">
                    <ul class="menu">
                        <li>
                            <a href="">THÔNG TIN</a>
                            <ul class="sub-menu">
                                <li><a href="page Su-kien.html" target="_parent">Sự kiện</a></li>
                                <li><a href="page Su-kien.html" target="_parent">Giải thưởng</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">CẢM THỨC</a>
                            <ul class="sub-menu">
                                <li><a href="page Su-kien.html" target="_parent">Góc cảm nhận</a></li>
                                <li><a href="page Su-kien.html" target="_parent">Tác Giả</a></li>
<li><a href="page Su-kien.html" target="_parent">Du lịch</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">CỘNG ĐỒNG</a>
                            <ul class="sub-menu">
                                <li><a href="page Diem-tin-sach .html" target="_parent">Điểm tin sách</a></li>
                                <li><a href="page Su-kien.html" target="_parent">Top 10</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">GIẢI TRÍ </a>
                            <ul class="sub-menu">
                                <li><a href="page Diem-tin-sach .html" target="_parent">Phim chuyển thể</a></li>
                                <li><a href="page Su-kien.html" target="_parent">Light novel</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">ĐỜI SỐNG</a>
                            <ul class="sub-menu">
                                <li><a href="page Phim-chuyen-the.html" target="_parent">Công việc</a></li>
                                <li><a href="page Sach-nen-doc.html" target="_parent">Nghệ thuật sống</a></li>
                                <li><a href="page Sach-nen-doc.html" target="_parent">Sức khỏe</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <ul id="main-nav">
                <li>
                    <a href="">THÔNG TIN
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="page Su-kien.html" target="_parent">Sự kiện</a></li>
                        <li><a href="page Su-kien.html" target="_parent">Giải thưởng</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">CẢM THỨC
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="page Su-kien.html" target="_parent">Góc cảm nhận</a></li>
                        <li><a href="page Su-kien.html" target="_parent">Tác Giả</a></li>
                        <li><a href="page Su-kien.html" target="_parent">Du lịch</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">CỘNG ĐỒNG
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="page Diem-tin-sach .html" target="_parent">Điểm tin sách</a></li>
                        <li><a href="page Su-kien.html" target="_parent">Top 10</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">GIẢI TRÍ
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="page Diem-tin-sach .html" target="_parent">Phim chuyển thể</a></li>
                        <li><a href="page Su-kien.html" target="_parent">Light novel</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">ĐỜI SỐNG
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="page Phim-chuyen-the.html" target="_parent">Công việc</a></li>
                        <li><a href="page Sach-nen-doc.html" target="_parent">Nghệ thuật sống</a></li>
                        <li><a href="page Sach-nen-doc.html" target="_parent">Sức khỏe</a></li>
                    </ul>
                </li>

                <!-- button Search -->
                <a class="search-button" href="#">
                    <i class="search-icon fa-solid fa-magnifying-glass"></i>
                </a>
            </ul>
        </nav>
    </div>

        
            {{{ body }}}
        
        <div id="footer">
            <div class="container">
                <div class="blog-info">
                    <a href="#">Book Enthusiast</a>
                </div>

                <div class="blog-credits">
                    <p>Nhóm 12</p>
                </div>
            </div>
        </div>
        <div class="btn-login">
            <a class="log-in" href="/login">Login</a>
        </div>
    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script>
        // menu
        $(document).ready(function() {
            $('.nav-menu').click(function() {
                $('.menu-items').slideToggle();
            });
        });


        // Scroll footer
        var offset = 500;
        // thời gian di trượt 0.75s ( 1000 = 1s )
        var duration = 750;
        $(function(){
        $(window).scroll(function () {
        if ($(this).scrollTop() > offset)
        $('#footer').fadeIn(duration);else
        $('#footer').fadeOut(duration);
        });
        $('#footer').click(function () {
        $('body,html').animate({scrollTop: 0}, duration);
        });
        });

        $(document).ready(function(){
            $('.search-button').click(function() {
                $('.search-header').slideToggle();
            });
        }
        );


        // Button nav-menu
        $(document).ready(function() {
        $('.nav-menu').click(function(){
            $(this).toggleClass('ButtonClicked');
        });
        })

        // button Search
        $(document).ready(function() {
            $('.search-icon').click(function(){
                $(this).toggleClass('ButtonClicked');
        });
        })


        // Masonry js : Lưới grid
        $(document).ready(function() {
            var $grid = $('.posts').masonry({
                itemSelector: '.post-container',
                percentPosition: true,
                columnWidth: '.grid-sizer'
            });
        });
    </script>
</body>

</html>
